*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.snap{
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.video{
    display: flex;
    object-fit: cover;
}
.aboutInfo{
    background-color:  #222831;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    object-fit: cover;
    width: 50vw;
}
.introduction{
    display: block;
    width: 30vw; 
    font-size: 1.5em;
    overflow-wrap: break-word;/*this is to break word to avoid the textflow outside the container*/
    line-height: 1.5;
    color: #ececec;
    top: 22%;
    left: 10%;
    position: absolute;
    transform: translate(35%, -10%);
    z-index: -1;
}
.mail{
    color:#ff926b;
    font-weight: bold;
}
.backgroundInfo{
    background-color: #30475e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ececec;
}
.GradIcon{
    width: 1.6em;
    padding-top: 20px;
}
.iconColor{
    fill:#ececec;
}
.year{
    font-size: 1.6em;
    transform: translateX(-200%);
}
.timeline{
    position: relative;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}
.timeline::after{
    content: '';
    position: absolute;
    background-color: #ececec;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1em;
}
.container,.info-container{
    position: relative;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
}
.container{
    left: 0;
}
.info-container{
    width: 50%;
    font-size: 1.5em;
    left: 50%;
    top: -16%;
}
.container::after{
    content: '';
    position: absolute;
    width: 2em;
    height:2em;
    z-index: 1;
    background-color: #ececec;
    border-radius: 50%;
    border: 3px solid #f2a365;
    right: -27px;
    top: 0;
}

.info{
    transform: translateX(200%);
}
.skill-container{
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}
.skillIcons{
    width: 6em;
    margin: 90px;
    opacity: 0;
}
.credit{
    margin: 10px 90px;
    font-size: 2.5em;
    width: 100%;
    color: #ececec;
    opacity: 0;
    text-align: left;
}
.credit a{
    text-decoration: none;
    color:#f2a365;
}
.project-container{
    background-color: #30475e;
    display: flex;
    perspective: 5000px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    cursor: pointer;
    width: 35%;
    transition: 0.3s;
    box-shadow: 1px 1px 10px #ececec;
    background-color: rgb(34,40,49,0.2);
    transform-style: preserve-3d;
    transform: rotateX(60deg);
    margin: 50px;
    transition: 0.3s;
}
.card:hover{
    transform: rotateX(0);
    box-shadow: 2px 2px 10px  #ececec;
}
.projectImg{
    width: 100%;
}
.projectInfo{
    font-size: 1.6em;
    text-align: center;
    color: #ececec;
    object-fit: contain;
}

